/**
 * Import the powerful SASS style framework: COMPASS
 * @link http://compass-style.org/
 */
@import "compass";

/**
 * You can import multi-page module via directory `utils`.
 */
//@import "utils/style/mod";

/**
 * Import sprites that your page will use.
 */
@import "mods/sprites";

/**
 * For every icon, set the style individually,
 * etc. `attention` stands for the filename and the `i` is the directory name.
 */
.my-attention {
  @include i-sprite("attention");
  height: i-sprite-height("attention");
  width: i-sprite-width("attention");
}

.my-question {
  @include i-sprite("question");
  height: i-sprite-height("question");
  width: i-sprite-width("question");
}